/* Estilos para la tabla */
.table-cart {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table-cart th,
.table-cart td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center; /* Centrar el texto en las celdas */
}

/* Estilos para las filas impares */
.table-cart tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* Estilos para el encabezado de la tabla */
.table-cart th {
    background-color: #4CAF50;
    color: white;
}

/* Estilos para el carrito */
.cart-icon {
    font-size: 18px;
    cursor: pointer;
    color: #4CAF50;
}

.cart-icon:hover {
    color: #45a049;
}

/* Otros estilos personalizados */
.pro-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.pro {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    max-width: 200px;
    margin-bottom: 20px;
}

.prod-img {
    max-width: 100%;
    height: auto;
}

.prod-type {
    font-size: 14px;
    font-weight: bold;
    color: #666;
}

.prod-title {
    font-size: 16px;
    margin: 10px 0;
}

.star {
    color: #FFD700;
    font-size: 18px;
    margin: 5px 0;
}

.prod-price {
    font-size: 18px;
    font-weight: bold;
    color: #4CAF50;
}

.cart {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    text-decoration: none;
    color: #4CAF50;
}

.cart:hover {
    color: #45a049;
}
