@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Great+Vibes&family=League+Spartan:wght@300&family=Pacifico&family=Roboto:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dancing Script', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Pacifico', cursive;
    font-family: 'Roboto', sans-serif;
    background-color: #e5e5f7;  
    background-image: radial-gradient(#156e70 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
    display: flex;
    min-height: 100vh;
}

.header-logo {
    text-decoration: none;
    color: #000;
    font-size: 4em;
    font-family: 'Dancing Script', cursive;
    font-family: 'Great Vibes', cursive;
    font-family: 'League Spartan', sans-serif;
    font-family: 'Pacifico', cursive;
    padding-top: -10em;
  }

  .header-logo:hover {
    color: #156e70;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}


.form{
    background-color: #fff;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
    text-align: center;
}

.form-title{
    font-size: 2rem;
    margin-bottom: .5em;
}

.form-paragraph{
    font-weight: 300;
}

.form-link{
    font-weight: 400;
    color: #000;
}

.form-container{
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

.form-group{
    position: relative;
    --color: #5757577e
}

.form-input{
    width: 100%;
    background: none;
    color: #706c6c;
    font-size: 1rem;
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--color);
    font-family: 'Roboto', sans-serif;
}

.form-input:focus,
.form-input:not(:placeholder-shown){
    color: #4d4646;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label{
    transform: translateY(-12px) scale(.7);
    -webkit-transform: translateY(-12px) scale(.7);
    -moz-transform: translateY(-12px) scale(.7);
    -ms-transform: translateY(-12px) scale(.7);
    -o-transform: translateY(-12px) scale(.7);
    transform-origin: left top;
    color: #156e70;
}


.form-label{
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transition: transform 0.5s, color .3s;
    -webkit-transition: transform 0.5s, color .3s;
    -moz-transition: transform 0.5s, color .3s;
    -ms-transition: transform 0.5s, color .3s;
    -o-transition: transform 0.5s, color .3s;
}

.form-submit{
    background: #156e70;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
}

.form-line{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #156e70;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: left bottom;
    -webkit-transform: left bottom;
    -moz-transform: left bottom;
    -ms-transform: left bottom;
    -o-transform: left bottom;
    transition: transform .4s;
    -webkit-transition: transform .4s;
    -moz-transition: transform .4s;
    -ms-transition: transform .4s;
    -o-transition: transform .4s;
}

.form-input:focus ~ .form-line,
.form-input:not(:placeholder-shown) ~ .form-line {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
}



@media (max-width: 425px) {
    .form-title{
        font-size: 1.8rem;
    }
}